BOT_TOKEN=8727161603:AAFeeRS1D6nSMvj1LQ7p8B0ii2TDTg4LI3c
ADMIN_ID=1184651845
REPLICATE_API_TOKEN=r8_FVf1gOIQfBbXbSdXCYS9egtCM5OHAH24aq5bh
DATABASE_URL="postgresql://postgres:password@localhost:5432/telega_photo?schema=public"
